.nav_theme{
  margin-top: 6px;
  color: var(--text-primary)
}

.Typewriter__wrapper {
  font-size: 2.2em;
  color: var(--text-second);
  font-weight: 600;
}
.Typewriter__cursor {
  font-size: 2.4em;
  color: var(--text-second);
}

@media (max-width: 767px) {
  .Typewriter__wrapper {
    font-size: 1.4em;
    font-weight: 500;
    position: absolute;
  }
  .Typewriter__cursor {
    display: none;
  }
}